<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
    <link rel="stylesheet" type="text/css" href="cart.css">
    <link rel="stylesheet" type="text/css" href=" ">
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
</head>
<body>

    

    <div class="ecomm-sub-container ecom-sub-heading"><span class="primary-color">My </span><span class="secondary-color">Wishlist</span></div>

    <section class="whishlist-container component-display-container">
    

     <div class="ecomm vertical-card shadow">
        <div class="vertical-card-image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNhu1DhL9buQ3taXnRJAZf-Xib0Z7MdbDQaQ&usqp=CAU" alt="card-pic" />
        </div>

        <div class="vertical-badge">
            OFFERS%
         </div>

        <button class="close-btn">
            <i class="fi-xwluxl-times-wide"></i>
        </button>

        <div class="card-heading">
           DOLO 650mg
        </div>
        <div class="card-text">
            SOLD BY: S.K MEDICALS
        </div>
        <div class="card-price">
            Rs. 100
        </div>
        <button class="btn-cart btn">
            ADD TO CART
        </button>

    </div>


    <div class="ecomm vertical-card ">
        <div class="vertical-card-image">
            <img src="https://cdn.shopify.com/s/files/1/0052/6775/0984/products/2_14435c67-987a-4997-92b1-dbde119db858_700x.jpg?v=1594131884" alt="card-pic" />
        </div>

        <div class="vertical-badge">
           OFFERS%
        </div>

        <button class="close-btn">
            <i class="fi-xwluxl-times-wide"></i>
        </button>

        <div class="card-heading">
          DIGITAL THERMOMETER
        </div>
        <div class="card-text">
    SOLD BY:MEDENGG TECHNOLOGIES
        </div>
        <div class="card-price">
            Rs. 100
        </div>
        <button class="btn-cart btn">
            ADD TO CART
        </button>

    </div>

</section>
    </div>


        </section>

</body>
</html>