<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="cart.css">
    <link rel="stylesheet" type="text/css" href=" ">
</head>
<body>
    
    <div class="vertical-card shadow">
        <div class="vertical-image-box">
            <img class="vertical-card-image" src="images\lars-kaizer-376AJQ5TBrA-unsplash (1).jpg"
                alt="card-image" />

            <span class="vertical-badge">Fresh Arrival</span>

            <span class="close-btn"><i class="fi-xwluxl-times-wide"></i>
        </div>

        <div class="card-info">
            <div class="card-heading">Mobile Cover</div>
            <small> Sold By:R.C APPARELS</small>

            <div class="card-price">Price: $99</div>

            <div class="card-text">
                A trendy mobile cover for GOOGLE Pixel-5.Comes with a
                complemenatry screen guard.
            </div>

            <div class="card-buttons">
                <button class="btn-buy btn">Buy</button>
                <button class="btn-cart btn">Add To Cart</button>
            </div>
</body>
</html>